<nav class="navbar navbar-expand-lg navbar-light">
    <div class='main-logo'>
        <a href="/"><img src='/img/logo.png' alt="Logo"></a>
    </div>
    <p class='slogan'>The place for your favorite movies!</p>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#site-header" aria-controls="site-header" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    <div class="collapse navbar-collapse" id="site-header" style>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item register">
                <a href="/register"><button class="btn btn-primary">Register</button></a>
            </li>
            </br>
            <li class="nav-item login">
                <a href="/login"><button class="btn btn-primary">Login</button></a>
            </li>
        </ul>
        <form action='/search' method='POST' class="form-inline my-2 my-lg-0">
            <input class="form-control mr-md-2" type="search" placeholder="Search for a movie" required name="search" aria-label="Search">
            <button class="btn btn-outline-primary my-2 my-lg-0" type="submit">Search</button>
        </form>
    </div>
</nav>

<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#site-header" aria-controls="site-header" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>