<div class="row">
    <div class="col-2">
        <a href="/"><img src='/img/logo.png' alt="Logo"></a>
    </div>
    <div class="col-4 site-title">My Fav Movies</br><span class='slogan'>The place for your favorite movies!</span></div>
    <div class="col-1 favlink"><a href="/favorites">My Favorites</a></div>
    <div class="col-3 search">
        <form action='/search/' method='POST'>
            <input type="text" name="search" placeholder="Search for a movie" required>
            <input type="submit" value="Search">
        </form>
    </div>
    <div class="col-2 login">
        <p class="welcome">
            Welcome
            <%- user.FirstName +' '+ user.LastName%>
        </p>
        <div class="logout-btn"><a href="/auth/logout"><button class="btn btn-primary">Logout</button></a></div>
    </div>
</div>