<!DOCTYPE html>
<html>

<head>
    <%- include('./partials/headSection.ejs') %>
</head>

<body>

    <div class="main-area">
        <header class="header">
            <%- include('./partials/newHeader.ejs') %>

        </header>
        <div class='container'>
            <div class="row">
                <div class="col-2">

                </div>
                <div class="col-8">
                    <p class="reg-title">Register to the best Movie Experience!</p>
                    <!-- alert -->
                    <% if(message) { %>
                        <h6 class="alert alert-warning">
                            <%-message%>
                        </h6>
                        <% } %>


                            <form action="/auth/register" method='post'>
                                <!-- First Name -->
                                <div class="form-group">
                                    <label for="firstName" class="form-label">First Name</label>
                                    <input type="text" class="form-control" id="firstName" name='firstName' placeholder="Please enter between 2 and 20 letters.">
                                </div>
                                <!-- Last Name -->
                                <div class="form-group">
                                    <label for="lastName" class="form-label">Last Name</label>
                                    <input type="text" class="form-control" id="lastName" name='lastName' placeholder="Please enter between 2 and 20 letters.">
                                </div>
                                <!-- Email-->
                                <div class="form-group">
                                    <label for="email" class="email">Email</label>
                                    <input type="email" class="form-control" id="email" name='email' placeholder="Please enter a valid email.">
                                </div>
                                <!-- Password-->
                                <div class="form-group">
                                    <label for="password" class="form-label">Password</label>
                                    <input type="password" class="form-control" id="password" name='password' placeholder="Please enter between 8 and 16 letters and numbers.">
                                </div>
                                <!--Confirm Password-->
                                <div class="form-group">
                                    <label for="passwordConfirm" class="form-label">Confirm Password</label>
                                    <input type="password" class="form-control" id="passwordConfirm" name='passwordConfirm'>
                                </div>
                                <button type="submit" class="btn btn-primary">Register</button>
                            </form>
                </div>
                <div class="col-2">

                </div>


            </div>
        </div>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>

</html>